/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

body {
  font-family: 'Quicksand', sans-serif;
}

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

.navbar {
  height: 40px;
  background-color: grey;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, grey, grey 65%, white)

}

.navbar-content {
  margin: 0 auto;
  width: 900px;
}

.navbar-login {
  float: right;
}

.navbar-logout {
  transition: 1s;
  padding-left: 0px;
  float: right;
}

.navbar-logout:hover {
  transition: 1s;
  color: white;
}

.navbar-signup {
  float: right;
}

.navbar-home {
  float: left;
}

.navbar-collection {
  float: left;
}

.navbar a {
  padding: 10px 10px;
  padding-left: 10px;
  color: lightgrey;
  transition: 1s;
}

.navbar a:hover {
  color: white;
  transition: 1s;
}

.navbar button {
  color: lightgrey;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.login-form {
  position: absolute;
  background-color: grey;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
  width: 300px;
  padding: 20px 10px 20px 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px black;
}

.create-track-form {
  position: absolute;
  background-color: grey;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
  width: 300px;
  padding: 20px 10px 20px 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px black;
}

.login-input {
  margin: 10px;
}

.input {
  text-indent: 4px;
}

.login-button, .create-track-button {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.login-form-title {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 5px;
}


.navbar-words {
  text-align: right;
  display: block;
  color: #D9D9D9;
  transition: 1s;
}

.navbar-words:hover {
  text-shadow: 0px 0px white;
  transition: 1s;
}

.login-form input, .create-track-form input {
  width: 90%;
  height: 40px;
  display: block;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

.create-track-form textarea {
  width: 90%;
  height: 80px;
  display: block;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

.other-form-link {
  display: block;
  text-align: center;
  font-size: 12px;
}

.form-hover {
  transition: 1s;
}

.form-hover:hover {
  color: lightgrey;
  transition: 1s;
}
.navbar-upload {
  float: right;
  padding-left: 60px;
}

.form-error {
  display: block;
  font-size: 12px;
  text-align: center;
  color: lightgrey;
}

.track-avatar-img {
  float: left;
  padding-right: 5px;
  height: 160px;
  width: 160px;
}

.track-item {
  left: 100px;
  width: 600px;
  margin-bottom: 20px;
  height: 160px;
  /*background: #EF9957;*/
}

.track-item.track-username {
  color: greys;
}

.track-item.track-title {
  font-size: 14px;
}

.track-user-info {
  padding: 5px;
}

.user-page.section {
  margin: 0 auto;
  width: 800px;
}

h2 {
  margin-top: 20px;
  font-size: 26px;
}
