.username-link {
  color: lightgrey;
  font-weight: 600;
}

.track-show-avatar-comments-container {
  position: relative;
  top: 260px;
  margin-left: 30px;
  /*background-color: grey;*/
  width: 500px;
  height: 40px;
}

.track-index-avatar-comments-container {
  position: relative;
  float: right;
  /*margin-left: 30px;*/
  /*background-color: grey;*/
  width: 420px;
  height: 40px;
}

.track-avatar-comments-container {
  position: relative;
  top: 260px;
  margin-left: 30px;
  /*background-color: grey;*/
  width: 500px;
  height: 40px;
}

.comment-avatar-index {
  position: relative;
  height: 20px;
}

.comment-avatar-image {
  position: absolute;
  left:0px;
  top: 0px;
  height: 20px;
  width: 20px;
  padding-bottom: 20px;
}

.comment-avatar-image:hover {
  position: absolute;
  left:-2px;
  top: -2px;
  height: 24px;
  width: 24px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.comment-avatar-container {
  height: 40px;
  width: 80px;
}

.comment-avatar-comment {
  position: absolute;
  left: 0px;
  top: 25px;
  font-size: 12px;
}

.hidden-comment {
  color: #A1A1A1;

}
