.track-show-avatar-comments-container {
  position: relative;
  top: 223px;
  margin-left: 30px;
  border-top: 1px solid grey;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(165,165,165,0.5));
  width: 500px;
  height: 40px;
}

.track-index-avatar-comments-container {
  position: relative;
  float: right;
  top: 16px;
  border-top: 1px solid grey;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(165,165,165,0.5));
  width: 420px;
  height: 40px;
}

.comment-index-username {
  font-weight: bold;
}

.track-avatar-comments-container {
  position: relative;
  top: 260px;
  margin-left: 30px;
  width: 500px;
  height: 40px;
}


.track-list .comment-avatar-index {
  width: 400px;

}

.comment-avatar-index {
  position: relative;
  height: 20px;
}

.comment-avatar-image {
  position: absolute;
  object-fit: cover;
  left:0px;
  top: 0px;
  height: 15px;
  width: 15px;
  padding-bottom: 10px;
}

.comment-avatar-image:hover {
  position: absolute;
  left:-2px;
  top: -6px;
  height: 20px;
  width: 20px;
  padding-bottom: 10px;
  transition: 0.3s;
}

.comment-avatar-container {
  height: 40px;
  width: 80px;
}

.comment-avatar-comment {
  position: absolute;
  left: 0px;
  top: 15px;
  font-size: 12px;
}


.track-show .comment-avatar-index .hidden-comment {
  color: black;
  font-weight: bold;
  z-index: 9999;
}

.track-show .comment-avatar-index .username-link {
  color: white;
  font-weight: 600;
}


.track-index .comment-avatar-index .hidden-comment {
  color: #636363;
  z-index: 9999;
}

.track-index .comment-avatar-index .username-link {
  color: #3B3B3B;
  font-weight: 600;
}

ul.comment-index.list li:last-child {
    margin-bottom: 100px;
}

.track-show.comment-area {
  display: block;
  position: relative;
  width: 700px;
  height: 400px;
}

.track-show .comment-form-image {
  height: 30px;
  width: 30px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}

.track-show .comment-container {
  box-shadow: 0px 0px 30px lightgrey;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 30px;
}

.track-show .comment-form {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: white;
  height: 30px;
  float: right;
  margin-bottom: 30px;
  width: 670px;
}

.track-show .comment-user-area {
  background: yellow;
  width: 200px;
  height: 340px;
  margin-right: 0px;
  display: block;
  float: left;
  box-shadow: 0px 0px 30px lightgrey;
  text-align: center;

  background-color: #FFFBE8;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,251,232,1));

}

.track-show .comment-user-area img{
  margin: 20px;
  object-fit: cover;
  height: 158px;
  width: 158px;
  border-radius: 50%;
}

.track-show .description {
  float: right;
  width: 460px;
  margin-bottom: 30px;
  padding: 5px 10px;
  box-shadow: 0px 0px 30px lightgrey;
  background-color: #FFFBE8;
  font-weight: 600;
}

.comment-index.list > li {
  padding: 5px 10px;
  background-color: #FFFBE8;
  display: block;
  height: 100%;
  float: right;
  margin-bottom: 30px;
  width: 460px;
  box-shadow: 0px 0px 30px lightgrey;
}
