.navbar {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #525252;
  box-shadow: 0px 0px 30px black;
  position: fixed;
}

.navbar-content {
  padding-bottom: 0px;
  margin: 0 auto;
  width: 900px;
}

.nav-bar-right, .nav-bar-left {
  padding: 10px;
  color: lightgrey;
  transition: 0.5s;
}

.nav-bar-right:hover, .nav-bar-left:hover {
  color: white;
  transition: 0.5s;
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  float: right;
}
