.navbar {
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #525252;
  box-shadow: 0px 0px 30px black;
  position: fixed;
}

.navbar-content {
  padding-bottom: 0px;
  margin: 0 auto;
  width: 900px;
}

.nav-bar-right, .nav-bar-left {
  padding: 10px;
  color: lightgrey;
  transition: 0.5s;
}

.nav-bar-right:hover, .nav-bar-left:hover {
  color: white;
  transition: 0.5s;
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  position: relative;
  float: right;
}

.notifications {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

}

.nav-bar-right:hover .notifications {
  display: block;
}
