.with-song {
  position: fixed;
  width: 100%;
  height: 58px;
  margin: 0 auto;
  background-color: #525252;
  bottom: 0%;
  box-shadow: 0px 0px 30px black;
  color: lightgrey;
  margin-bottom: 16px;
}

.playnode-container {
  cursor: pointer;
  width: 100%;
  height: 16px;
  background-color: white;
}

.playbar > .playnode-container {
  height: 16px;
  position: relative;
  top: -10px;
}

.playnode  {
  float: right;
}

.playnode-played {
  height: 16px;
  width: 0px;
  background-color: orange;
}

.playbar > .playnode-played {
  position: relative;
  top: -20px;
  
}

.play, .pause {
 cursor: pointer;
 transition: 0.5s;
 width: 80px;
}


.words > a {
  font-size: 24px;
  position: relative;
  left: 20px;
  transition: 0.5s;
  top: 5px;
}

.play {
  position: relative;
  top: 3px;
  left: 20px;
}

.pause {
  top: -16px;
  position: relative;
  left: 60px;
}

.play:hover, .pause:hover, .words > a:hover {
  color: white;
  transition: 0.5s;
}
