
.track-avatar-img {
  float: left;
  height: 160px;
  object-fit: cover;
  width: 160px;
  box-shadow: 0px 0px 30px #BABABA;
}

.track-item {
  left: 100px;
  width: 600px;
  margin-bottom: 45px;
  height: 160px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.track-item.track-username {
  color: #A3A3A3;
}

.track-item.track-title {
  color: #636363;
  font-size: 14px;
}


.track-item.track-username, .track-item.track-title {
  margin-left: 10px;
}


.track-user-info {
  padding: 5px;
}

.track-show-main {
  width: 900px;
  margin: 0 auto;
  margin-top: 75px;
}

.track-show.banner-area {
  width: 100%;
  transition: 1s;
  height: 350px;
  box-shadow: 0px 0px 30px black;
  margin-bottom: 35px;
}

.track-show .play-icon-big {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
	border-top: 30px solid transparent;
	border-left: 60px solid #FC6F0A;
	border-bottom: 30px solid transparent;
}



.track-show > .pause-icon {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 26px;
  width: 10px;
  height: 60px;
  border-right: 20px solid #FC6F0A;
  border-left: 20px solid #FC6F0A;
}

.track-item .play-icon {
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 0px;
  color: black;
  border-top: 10px solid transparent;
  border-left: 20px solid #FC6F0A;
  border-bottom: 10px solid transparent;
  /*background-image: url(<%= asset_path 'play.svg' %>)*/
}


.pause-icon-small {
  display: block;
  float: left;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 4px;
  width: 4px;
  height: 16px;
  border-right: 6px solid #FC6F0A;
  border-left: 6px solid #FC6F0A;
}


.track-show .track-title {
  margin-left: 10px;
  float: left;
  font-size: 25px;
}

.track-show .username, .user-info .username {
  padding-top: 15px;
  margin: 10px;
  float: left;
  font-size: 17px;
}

.track-show .track-image {
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-right: 20px;
  display: block;
  float: right;
  object-fit: cover;
  border: 1px solid grey;
}

.track-list.playnode-container {
  /*float: right;*/
  width: 420px;
  height: 16px;
  background-color: transparent;;
  float: right;
}

.playnode .words {
  float: left;
}

.track-list.playnode-played {
  height: 16px;
  width: 0px;
  background-color: orange;
}

.user-area > img {
  height: 80px;
  width: 80px;
}
